 @import url(**googlefonts**);

 * {
     margin: 0;
     padding: 0;
     border: 0;
 }

/* Home Page */
body {  
    background-color: teal;

}
/* Nav Bar */
ul > li {
    list-style: none;
}

/* Footer */

/* Game Page */