
 * {
     margin: 0;
     padding: 0;
     border: 0;
 }

/* Home Page */
body {  
    background-color: teal;
}

h1 {
    line-height: 75px;
    padding: 1rem;
    text-align: center;
    
}

/* Navigation Bar */
#selection {
    font-size: 110%;
    letter-spacing: 3px;
    line-height: 50px;
}

#selection li {
    float: right;
    margin-right: 40px;
    list-style-type: none;
}

#selection a {
    text-decoration: none;
    color: inherit;
}

#selection a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid white;
} 

/* Heading */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Game Page */
.game-zone > table {
    text-align: center;
}

.game-area > table, tr , td {
    border: 1.5px solid black;
    border-collapse: collapse;
}

.score-area {


}

.timer-area {

}

.reset{


}


/* Media Queries */
@media (max-width: 414px) {
    .game-zone {
        width: 100%;
    }

    .score-area {
        width: 100%;
        padding: 0;
    }

    .score {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }
    .time {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading > h1 {
        font-size: 2rem;
        text-align: center;
    }

    .selection {
        align-self: center;
    }
}

@media (max-width: 320px) {
    .game-zone {
        height: 70vh;
        width: 75%;
        margin: 10px auto;
    }

    .score-area {
        padding: 10px 0;
    }

    .timer-area {
        padding: 10px 0;
    }

    .heading > h1 {
        font-size: 1rem;
        text-align: center;
    }
}