 @import url(**googlefonts**);

 * {
     margin: 0;
     padding: 0;
     border: 0;
 }

/* Home Page */
body {  
    background-color: teal;

}
/* Nav Bar */
ul > li {
    list-style: none;
    letter-spacing: 2px;
    margin: 5px;
    line-height: 75px;
}

/* Footer */

/* Game Page */